# Empty CSS file for your own CSS
.top-buffer { padding-left:20px; }
.bg-image {
    position: relative;
}
.bg-image img {
    display: block;
    width: 100%;
    
    margin: 0 auto;
}
.bg-image h1 {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
}

.myheader {
    position: relative;
    background: #000 url("images/header.png") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}


.container-fluid {
    padding: 20px;
}